.aboutme {
    height: 100vh;
    display: flex;
    justify-content: center;
    background-color: var(--tertiary-color);
}

.content {
    width: 75%;
    text-align: justify;
}

.images {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

img {
    width: 22vw;
    height: 65vh;
    object-fit: cover;
    border-radius: 20px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
}