.container {
  /* background-color: red; */
  width: 100vw;
  font-size: 15px;
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.nav_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: inherit; /* Ensure the background color is set */
  z-index: 1000; /* Ensure it stays on top of other elements */
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.aboutme-nav, .fun-nav {
  cursor: pointer;
  user-select: none;  /* Prevents accidental text selection */
  z-index: 100; /* Ensure it's clickable */
  pointer-events: auto !important;
}